<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script type="text/javascript" src="~/lib/jquery/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="~/lib/bootstrap-4.3.1/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="~/lib/bootstrap-4.3.1/dist/css/bootstrap.css">
  <link rel="stylesheet" href="~/lib/css/Landing.css">



  <title>Word Counter</title>
</head>

<body>

  <nav  class="navbar navbar-expand-lg navbar-default">
    <a class="navbar-brand" href="/">Word Counter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/word/new">Play! <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
    <h1 class="display-4">Word Counter</h1>
    <hr class="my-4">
    <p class="lead">This is a simple program. For counting Words!</p>
    
    <p>Enter to the form, put in your phrase, and a word to count. Then watch the magic!</p>
    <a class="btn btn-primary btn-lg" href="/word/new" role="button">Input Words.</a>
  </div>
  </div>
  

</body>

</html>