@using WordCounter.Models;

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Word Counter</title> 
  </head>
  <body>
    <h1>Word Counter</h1>
    <h2>@Model.GetPhrase()</h2>
    <h2>@Model.GetWord()</h2>
    <h2>@Model.CheckRepeatedWord()</h2>

  </body>
</html>